{% load i18n %}{% autoescape off %}

<div style="margin-bottom: 25px;"><a href="www.hdfcred.com"><img style="vertical-align: middle;" src="https://www.hdfcred.com/assets/images/logo/hdfcred-logo-transparent.png"></a>

<span style="color:#CE1422;font-size:200%;margin-left:65px;line-height:50px;">Thank you for showing your interest</span></div>

<div style="color:grey;font-size:140%;">Below are some of the Recommended Properties for you based on your past search.</div>


<br>

<table style="border-spacing: 3px;">

	{% for project in recoProperties %}
	<tr style="display:inline-block;">
		<td style="padding:0px;">
			<div
				style="width: 260px; float: left; position: relative;">
				<a href="{{project.url}}" target="_blank"
					data-jclick="project_overview" data-id="clicked"
					data-value="project_opened"
					data-project-capture="{{project.project_no}}"
					data-project-configno-capture="{{project.project_config_no}}"><img
					src="{{project.imageUrl}}" alt="Property Image"
					class="property-img" style="object-fit: fill;vertical-align:top;"> </a>
			</div>
		</td>
		<td style="border-right: 1px solid #e9e9e9;border-top: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;padding-left:0px; box-shadow: 0px 0px 8px grey;">

			<div class="container-right"
				style="margin: 0 20px 20px; width: 450px; max-height:157px; float: right; font-family: 'Open Sans', sans-serif;">

				<table style="width: 100%">
					<tr>
						<td colspan="2" style="border-bottom: 1px solid #e9e9e9;">
							<div class="top-row"
								style="width: 100%; display: inline-block; padding: 10px 0;">
								<div class="left-section"
									style="display: inline-block; float: left; font-size: 13px; color: #a0a0a0; max-width: calc(100% - 20px);">
									<div class="property" style="line-height: 1.3;">
										<a href="{{project.url}}" target="_blank"
											data-jclick="project_overview" data-id="clicked"
											data-value="project_opened"
											data-project-capture="{{project.project_no}}"
											data-project-configno-capture="{{project.project_config_no}}"><big style="color:#FBA154">{{project.project_name}}</big></a><span
											class="developer-name"> by {{project.developer_name}}</span>
									</div>
									<div class="property-location">{{project.address}},
										{{project.project_suburb_name}}</div>
									<div class="property-posession" style="color: #555;">Possession:
										{{project.possession_text}}</div>
								</div>
							</div>
						</td>
						<td style="border-bottom: 1px solid #e9e9e9;">
							<!-- Change the IP to the new Elastic IP -->
							<a href="http://52.35.25.23:9000/recoMail/enquireNow/?user={{userId}}&project={{project.project_no}}&projectConfig={{project.project_config_no}}" style="margin-left:auto;margin-right:auto;text-align: center;">
								<button
									style="margin-left:auto;margin-right:auto;text-align:center; background-color: #A93A5F; /* Green */ border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Enquire
									Now</button></a>
						
						</td>
					</tr>
					<br>
					<br>
					<tr
						style="padding: 12px 0; border-bottom: 1px solid #e9e9e9; position: relative;">
						
						<td style="width:150px">
							<div class="mr-item"
								style="display: block; float: left; width: 100%;">
								<span class="title"
									style="font-size: 10px; display: block; text-transform: uppercase; color: #a0a0a0;">bedrooms</span>
								<span class="value"
									style="font-size: 22px; display: block; color: #4c4d4f;">{{project.no_of_bedroom}}
									BHK</span>
							</div>
						</td>
						<td style="width:150px">
							<div class="mr-item"
								style="display: block; float: left; width: 100%;">
								<span class="title"
									style="font-size: 10px; display: block; text-transform: uppercase; color: #a0a0a0;">sellable</span>
								<span class="value"
									style="font-size: 22px; display: block; color: #4c4d4f;">{{project.built_up_area}}
									<small>SQ.FT</small>
								</span>
							</div>
						</td>
						<td style="width:150px">
							<div class="mr-item"
								style="display: block; float: left; width: 100%;">
								<span class="title"
									style="font-size: 10px; display: block; text-transform: uppercase; color: #a0a0a0;">cost</span>
								<span class="value"
									style="font-size: 22px; display: block; color: #4c4d4f;">₹
									{{project.price_string}} </span>
							</div>

						</td>
					</tr>
					<tr>
					<!-- <td colspan="3" style="text-align: center;">
					<br>
					
					Change the IP to the new Elastic IP
					<a href="http://52.35.25.23:9000/recoMail/enquireNow/?user={{userId}}&project={{project.project_no}}&projectConfig={{project.project_config_no}}" style="margin-left:auto;margin-right:auto;text-align: center;">
						<button
							style="margin-left:auto;margin-right:auto;text-align:center; background-color: #4CAF50; /* Green */ border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Enquire
							Now</button></a>
					</td> -->
					</tr>
				</table>
			</div>

		</td>
	</tr>
	{% endfor %}

</table>
<br>
<br>




{% endautoescape %}
