{% load i18n %}{% autoescape off %}
{% blocktrans %}Thank you for showing you interest on {{}}.{% endblocktrans %}

{% trans "Below are some of the Recommended Properties for you based on your past search" %}

<table>
	<tr>
		{% for recoProperty in recoProperties %}
		    <td>
		        <a href="{{recoProperty.url}}"><img src="{{recoProperty.imageUrl}}"></a>
		        <br>
		        <a href="http://localhost:9000/recoMail/enquireNow/?user={{userId}}&project={{recoProperty.project_no}}&projectConfig={{recoProperty.project_config_no}}"><button>Enquire Now</button></a>
		    </td>
		{% endfor %}
	</tr>
</table>

{% trans "Thanks for choosing HDFCRED!!" %}

{% blocktrans %}The HDFCRED team{% endblocktrans %}

{% endautoescape %}