{% load humanize %} {% load l10n %}

<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="http://schema.org/Organization">
<head>
<script>
	start_load = new Date();
	var base_url = "https://www.hdfcred.com";
</script>
<title></title>
<link rel="shortcut icon" href="https://www.hdfcred.com/favicon.ico">

<script src="https://www.hdfcred.com/assets/js/jquery.min.js"></script>

<link media="all" type="text/css" rel="stylesheet"
	href="https://www.hdfcred.com/assets/css/custom.1453884159.css">

<link media="all" type="text/css" rel="stylesheet"
	href="https://www.hdfcred.com/assets/css/style.1459406218.css">




<script
	src="https://www.hdfcred.com/assets/js/header_common.1450174427.js"></script>




<meta content="HDFC Real Estate Destination" itemprop="name" />
<meta
	content="HDFC RED offers over 10,000+ new homes, resale homes & commercial properties across India. We are with you right from your home search to your home loan application process"
	itemprop="description">
<meta content="http://www.hdfcred.com/images/common/hdfcredlogo.png"
	itemprop="image" />

<meta name="viewport" content="user-scalable=0" />


<meta name="robots" content="INDEX,FOLLOW" />
<meta name="google-site-verification"
	content="Z72vqpKvTFsEWrD9ZgwUtjHDw_qwhNd9X6JxBUFOTgU" />
<meta name="msvalidate.01" content="5DEBF625A93F84D76AA23BA2747C7C0C" />
<meta property=fb:page_id content="117621124958545" />

<!-- GA Code -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-15535100-1' ]);
	_gaq.push([ '_setDomainName', 'www.hdfcred.com' ]);
	_gaq.push([ '_trackPageview' ]);

	$(window)
			.load(
					function() {

						console.log("google foot");
						(function() {
							var ga = document.createElement('script');
							ga.type = 'text/javascript';
							ga.async = true;
							ga.src = ('https:' == document.location.protocol ? 'https://'
									: 'http://')
									+ 'stats.g.doubleclick.net/dc.js';
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(ga, s);
						})();
					});
</script>
<!-- End GA Code -->
</head>

<body>

	<!-- Google Tag Manager -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MWTGZF"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<script>
		$(window)
				.load(
						function() {
							console.log("google head");
							(function(w, d, s, l, i) {
								w[l] = w[l] || [];
								w[l].push({
									'gtm.start' : new Date().getTime(),
									event : 'gtm.js'
								});
								var f = d.getElementsByTagName(s)[0], j = d
										.createElement(s), dl = l != 'dataLayer' ? '&l='
										+ l
										: '';
								j.async = true;
								j.src = '//www.googletagmanager.com/gtm.js?id='
										+ i + dl;
								f.parentNode.insertBefore(j, f);
							})(window, document, 'script', 'dataLayer',
									'GTM-MWTGZF');
						});
	</script>
	<!-- End Google Tag Manager -->



	<header>
		<div class="container contain">
			<div class="pull-left logo">
				<a href="https://www.hdfcred.com" data-id="clicked"
					data-value="header_logo_clicked"></a>
			</div>
			<div class="pull-right menu">
				<ul>
					<li><a href="" class="project " title="" data-id="clicked"
						data-value="header_homeSearch_clicked"></a></li>
					<li><a href="https://www.hdfcred.com/collections"
						class="hloans" title="Collections" data-id="clicked"
						data-value="header_collections_clicked">Collections</a></li>
					<li><a href="https://www.hdfcred.com/special-deals"
						class="sp-deals " title="Special Deals" data-id="clicked"
						data-value="header_specialDeals_clicked">Special Deals</a></li>
					<li><a href="https://www.hdfcred.com/the-brand-store"
						class="builder" title="Brand Store" data-id="clicked"
						data-value="header_builders_clicked">Brand Store</a></li>
					<li><a href="https://www.hdfcred.com/home-loans"
						class="hloans " title="Home Loan" data-id="clicked"
						data-value="header_homeLoans_clicked">Home Loans</a></li>

				</ul>
			</div>
		</div>
		<input type="hidden" class="ipuser" name="ipuser" id="ipuser"
			value="27.5.81.166" />

	</header>



	<!--thank You page starts-->
	<section class="thanku">
		<div class="container contain">



			<!-- breadcrum starts-->
			<div class="sec-breadcrum">
				<ul class="breadcrumb">
					<li><a href="https://www.hdfcred.com">Home</a></li>
					<li><a href="https://www.hdfcred.com/properties-in-pune">Properties
							in Pune</a></li>

					<li><a
						href="https://www.hdfcred.com/properties-in-bhugaon-a-460">Bhugaon</a></li>

					<li><a href="https://www.hdfcred.com/pid-2750">MD Rivera</a></li>

					<li class="active">Thank you</li>
				</ul>
			</div>
			<!-- breadcrum ends-->

			<div class="thx-box clearfix">

				<div class="thx-top">
					Thank you For showing interest in this Project <span>Here
						are the Project detail</span>
				</div>

				<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-list="projects_list"> -->

				<div class="property-container panel panel-default no-animation"
					data-project-load="project_viewed"
					data-project="{{project.Project_No}}">
					<table>
						<tr>
							<td>
								<div class="container-left">
									<a href="{{project.url}}" target="_blank"
										data-jclick="project_overview" data-id="clicked"
										data-value="project_opened"
										data-project-capture="{{project.Project_No}}"
										data-project-configno-capture="{{project.Project_config_No}}"><img
										src="{{project.imageUrl}}" alt="Property Image"
										class="property-img"> </a>
								</div>
							</td>
							<td>

								<div class="container-right">
									<div class="top-row">
										<div class="left-section">
											<div class="property">
												<a href="{{project.url}}" target="_blank"
													data-jclick="project_overview" data-id="clicked"
													data-value="project_opened"
													data-project-capture="{{project.Project_No}}"
													data-project-configno-capture="{{project.Project_config_No}}"><big>{{project.Project_Name}}</big></a><span
													class="developer-name"> by
													{{project.Developer_Name}}</span>
											</div>
											<div class="property-location">{{project.Address}},
												{{project.Project_Suburb_Name}}</div>
											<div class="property-posession">Possession:
												{{project.Possesion_Text}}</div>
										</div>
									</div>
									<div class="middle-row">
										<div class="mr-item">
											<span class="title">bedrooms</span> <span class="value">{{project.No_Of_Bedroom}}
												BHK</span>
										</div>
										<div class="mr-item">
											<span class="title">sellable</span> <span class="value">{{project.Built_Up_Area}}
												<small>SQ.FT</small>
											</span>
										</div>
										<div class="mr-item">
											<span class="title">cost</span> <span class="value">₹
												{{project.price_string}} </span>
										</div>
									</div>
									<div class="bottom-row">
										<span class="title">Amenities</span>
										<ul class="amenities">
											{% for amenity in project.amenitiesList %}
											<li title="" data-toggle="tooltip" data-placement="top"
												class="icon-{{amenity.split|join:'-'|lower}}"
												data-original-title="{{amenity}}"></li> {% endfor %}
										</ul>
									</div>
								</div>

							</td>
						</tr>
					</table>
				</div>
				<!-- </div>
			
		</div>
	</div> -->
			</div>
			</div>
	</section>


	<!--  Recommended Properties -->
	<!-- <section class="similar-proj">
		<div class="container contain">
			<h3>Similar Projects</h3>
			<p>
				The more option you have... The better home you will find! <small>Take
					a look at some of our other projects.</small>
			</p>

			<div class="proj-thumb">
				<a
					href="https://www.hdfcred.com/nirmiti-developers-albacitta-in-pune-p-45"
					title="Sowparnika Sanvi - Phase 2" target="_blank"
					style="background-image: url('https://www.hdfcred.com/project-images1/45/45_Albacitta.jpg');"></a>
				<div class="info">
					<div class="info1">
						<small> <a href="#">Nirmiti Developers</a> <span>75
								L+
						</span>
						</small>
					</div>
				</div>
			</div>
			<div class="proj-thumb">
				<a
					href="https://www.hdfcred.com/paranjape-schemes-forest-trails-in-pune-p-316"
					title="Sowparnika Sanvi - Phase 2" target="_blank"
					style="background-image: url('https://www.hdfcred.com/project-images1/316/316_Forest_Trails.jpg');"></a>
				<div class="info">
					<div class="info1">
						<small> <a href="#">Paranjape Schemes</a> <span>75
								L+
						</span>
						</small>
					</div>
				</div>
			</div>
			<div class="proj-thumb">
				<a
					href="https://www.hdfcred.com/mont-vert-mont-vert-belair-in-pune-p-376"
					title="Sowparnika Sanvi - Phase 2" target="_blank"
					style="background-image: url('https://www.hdfcred.com/project-images1/376/376_Mont_Vert_Belair.jpg');"></a>
				<div class="info">
					<div class="info1">
						<small> <a href="#">Mont Vert</a> <span>75 L+</i>
						</span>
						</small>
					</div>
				</div>
			</div>
			<div class="proj-thumb">
				<a
					href="https://www.hdfcred.com/amit-enterprises-housing-ltd-bloomfield-in-pune-p-401"
					title="Sowparnika Sanvi - Phase 2" target="_blank"
					style="background-image: url('https://www.hdfcred.com/project-images1/401/401_Bloomfield.jpg');"></a>
				<div class="info">
					<div class="info1">
						<small> <a href="#">Amit Enterprises Housing Ltd</a> <span>72
								L+</i>
						</span>
						</small>
					</div>
				</div>
			</div>

		</div>
	</section> -->
	<!--thank You page ends-->


	<footer class="srp-footer">



		<div class="container contain">
			<div class="col-md-8 pull-left">
				<span class="pull-left">&#169; 2016 HDFC Developers Ltd. All
					rights reserved.</span>
				<div class="foot-menu pull-left">
					<ul>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/about-us" title="About Us">About
								Us</a></li>
						<li class="pull-left"><a href="https://www.hdfcred.com/faqs"
							title="FAQs">FAQs</a></li>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/careers" title="Careers">Careers</a></li>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/contact-us" title="Contact Us">Contact
								Us</a></li>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/termsandconditions"
							title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/sitemap" title="Sitemap">Sitemap</a></li>
						<li class="pull-left"><a
							href="https://www.hdfcred.com/advertise-with-us"
							title="Advertise with us">Advertise with us</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
			<div class="col-md-2 pull-right social-foot">
				<a href="https://www.facebook.com/hdfcred" target="_blank"
					class="ic-facebook icon icon-fb"></a> <a
					href="https://plus.google.com/+hdfcred/" target="_blank"
					class="ic-google icon icon-google"></a> <span
					class="icon icon-top-arrow"></span>
			</div>
		</div>
		<div class="foot_box">
			<div class="container contain">
				<div class="inner_footbox">
					<div class="pull-left add">
						<h4>CORPORATE OFFICE:</h4>
						HDFC Developers Ltd.<br> Ramon House, 4th Floor, H. T. Parekh
						Marg,<br> 169, Backbay Reclamation, Churchgate<br>
						Mumbai 400 020 India
					</div>
					<div class="pull-right menu-foot">
						<div class="up-menu">
							<ul>
								<li><a href="https://www.hdfcred.com/properties-in-mumbai"
									title="Mumbai">Mumbai</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-pune"
									title="Pune">Pune</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-bangalore"
									title="Bangalore">Bangalore</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-hyderabad"
									title="Hyderabad">Hyderabad</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-chennai"
									title="Chennai">Chennai</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-delhi"
									title="Delhi">Delhi</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-kolkata"
									title="Kolkata">Kolkata</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-kerala"
									title="Kerala">Kerala</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-nashik"
									title="Nashik">Nashik</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-agra"
									title="Agra">Agra</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-ahmedabad"
									title="Ahmedabad">Ahmedabad</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-aurangabad"
									title="Aurangabad">Aurangabad</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-bhopal"
									title="Bhopal">Bhopal</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-bhubaneswar"
									title="Bhubaneswar">Bhubaneswar</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-chandigarh"
									title="Chandigarh">Chandigarh</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-guwahati"
									title="Guwahati">Guwahati</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-indore"
									title="Indore">Indore</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-jaipur"
									title="Jaipur">Jaipur</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-kanpur"
									title="Kanpur">Kanpur</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-lucknow"
									title="Lucknow">Lucknow</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-meerut"
									title="Meerut">Meerut</a></li>
								<li><a href="https://www.hdfcred.com/properties-in-mysore"
									title="Mysore">Mysore</a></li>
								<li><a
									href="https://www.hdfcred.com/properties-in-vadodara"
									title="Vadodara">Vadodara</a></li>
							</ul>
						</div>
						<hr>
						<div class="dwn-menu">
							<ul>
								<li><a href="http://www.hdfc.com/" title="HDFC Ltd."
									target="_blank">HDFC Ltd.</a></li>
								<li><a href="http://www.hdfcbank.com/personal/index"
									target="_blank" title="HDFC Bank">HDFC Bank</a></li>
								<li><a href="http://www.hdfcinsurance.com/" target="_blank"
									title="HDFC Life">HDFC Life</a></li>
								<li><a href="http://www.hdfcpension.com/" target="_blank"
									title="HDFC Pension">HDFC Pension</a></li>
								<li><a href="http://www.hdfcsec.com/" target="_blank">HDFC
										Securities</a></li>
								<li></li>
								<li><a href="http://www.hdfcfund.com/" target="_blank"
									title="HDFC Mutual Fund">HDFC Mutual Fund </a></li>
								<li><a href="http://www.hdfcrealty.com/" target="_blank"
									title="HDFC Realty">HDFC Realty</a></li>
								<li><a href="http://www.hdfcergo.com/" target="_blank"
									title="HDFC ERGO General Insurance">HDFC ERGO General
										Insurance</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>



	<script
		src="https://www.hdfcred.com/assets/third-party/js/modernizr.custom.js"></script>

	<script
		src="https://www.hdfcred.com/assets/js/jquery-migrate-1.2.1.min.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/bootstrap/bootstrap.min.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/material/material.min.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/material/ripples.min.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/data_capturing/data_capturing.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/data_capturing/jquery.visible.js"></script>

	<script
		src="https://www.hdfcred.com/assets/third-party/js/customscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

	<script src="https://www.hdfcred.com/assets/js/tmpl.min.js"></script>

	<script src="https://www.hdfcred.com/assets/js/common.1457694231.js"></script>

	<script src="https://www.hdfcred.com/assets/js/custom.1457445666.js"></script>


	<script>
</script>



</body>
</html>
